// `to_partial_path` can intelligently parse the object to get the right path it
// will also magically set up locals, loop over arrays and etc....(oh, pure
// evil)
var new_comment = $("<%= j (render partial: @comment) %>").hide()
$('#comments').prepend(new_comment)
new_comment.fadeIn()
// note the '#new_comment' id is created automatically by Rails throught
// knowledge about the object: another example of inherent conventions.
$('#new_comment')[0].reset()

// Final note: the comments in this file are also parsed by ERB engine and sent
// to client!!!! (So this is an ERB file first)
